/{
    chosen {
        zephyr,console = &uart0;
    };

    leds{
        compatible = "gpio-leds";
        ledyellow: led_yellow{
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
            label = "LED 0";
        };
    };


    aliases {
        led-yellow = &ledyellow;
        afficheur-lcd = &afficheur;
    };

    dht11: dth11
        {
            compatible = "aosong,dht";

            dio-gpios = <&gpio0 17  GPIO_ACTIVE_LOW>;
            dth11: temp_cap{
                label = "XHT11";
            };
        };
};

&i2c0 {
	afficheur: afficheur_lcd@27 {
		compatible = "i2c-device";
		reg = <0x27>;
	};
};
