/{
    chosen {
        zephyr,console = &uart0;
    };

    leds{
        compatible = "gpio-leds";
        ledyellow: led_yellow{
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
            label = "LED 0";
        };
    };

    dht11: dht11 {
        compatible = "aosong,dht";
        status = "okay";
        dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        label = "XHT11";
    };


    buzzer
    {
        compatible = "gpio-keys";
        buzzer: buzzer{
            gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
            label = "BUZZER";
        };
    };


    buttons: buttons
    {
            compatible = "gpio-keys";
            button0: button_0
            {
                    gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
                    label = "Button1";
            };
            button1: button_1
            {
                    gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
                    label = "Button2";
            };
    };

    capteurpres: capteurpres{

            compatible = "aosong,dht";
            status = "okay";
            dio-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Capteur Presence";
    };

    aliases
    {
        led-yellow = &ledyellow;
        afficheur-lcd = &afficheur;
        capteur-temp = &dht11;
        button1 = &button0;
        button2 = &button1;
        buzzer = &buzzer;
        capteur-presence = &capteurpres;
    };
};

&i2c0 {
        afficheur: afficheur_lcd@27 {
            compatible = "i2c-device";
            reg = <0x27>;
        };
};